ENV['APPLE_ID'] = ''
ENV['CRASHLYTICS_API_TOKEN'] = ''
ENV['CRASHLYTICS_BUILD_SECRET'] = ''
ENV['DELIVER_USERNAME'] = ENV['APPLE_ID']
ENV['GITHUB_API_TOKEN'] = ''
ENV['PILOT_APPLE_ID'] = ENV['APPLE_ID']
ENV['SIGH_USERNAME'] = ENV['APPLE_ID']
ENV['SLACK_URL'] = ''
